<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Multer File Upload To-do List...</h1>

    <% if(!editUser) { %>
        <!-- Add Form -->
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="User Name">
            <input type="text" name="password" placeholder="Password">
            <input type="file" name="image">
            <input type="submit" value="Add">
        </form>
        <% } else { %>
            <!-- Edit Form -->
            <form action="/update/<%=editUser._id%>" method="post" enctype="multipart/form-data">
                <input type="text" name="username" value="<%=editUser.username%>">
                <input type="text" name="password" value="<%=editUser.password%>">
                <input type="file" name="image">
                <img src="<%=editUser.image%>" width="100px" height="100px">
                <input type="submit" value="Update">
                <a href="/">Cancel</a>
            </form>
            <% } %>

                <table border="1">
                    <% data.map((el)=>{ %>
                        <tr>
                            <td>
                                <%=el.username %>
                            </td>
                            <td>
                                <%=el.password %>
                            </td>
                            <td><img src="<%=el.image%>" width="100px" height="100px"></td>
                            <td>
                                <a href="/delete?id=<%=el._id %>">Delete</a>
                                <a href="/edit/<%=el._id %>">Edit</a>
                            </td>
                        </tr>
                        <% }) %>
                </table>
</body>

</html>